*{
    box-sizing: border-box;
}

h3{
    margin-inline-start: 55px;
}
div{
    margin-inline-start: 55px;
}

.pagination{
    margin-inline-start: 90px;
}
#datetime {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* 배경색과 투명도 */
    color: white; /* 글자색 */
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: default; }

#ID{
    width: 100px;
    height: 50px;
    margin-inline-start: 90px;
}

#datetime{
    pointer-events: none;
}
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .table {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
}

body.dark-mode .btn-outline-light:hover {
    background-color: #ffffff;
    color: #000000;
}
.fixed-width {
    width: 150px; 
}